*.[mM][pP]3
*.wav
*.WAV
*.ogg
*.OGG
*.flac
*.FLAC
*.m4a
*.M4A
*.aac
*.AAC
*.opus
*.OPUS
*.aiff
*.AIFF

白色孤岛.zip


**/solver/checkpoints/*.checkpoint-skyline.json
Only upV2.1/Only upV2.1/.venv-standard-server/
Only upV2.1/Only upV2.1/__pycache__/
docs/dsv4
docs/mimov2.5pro